<template>
  <div class="py-[120px]" id="about">
    <div>
      <router-link
        class="text-center flex justify-center font-bold text-[32px] mb-[37px]"
        to="/"
      >
        About us
      </router-link>
    </div>
    <div
      class="flex flex-col md:flex-row justify-between items-start space-x-0 space-y-[16px] md:space-y-0 md:space-x-[16px]"
    >
      <div class="flex md:w-1/2 flex-col rounded-[32px] h-[535px] bg-white">
        <div class="flex flex-col p-[60px] space-y-[32px]">
          <p>
            We offer you a subscription to various media services at the best
            price.
          </p>
          <p>
            We have partnered with several companies to help you find the best
            prices for your media subscriptions and provide you with the best
            prices for the Premium subscriptions you want.
          </p>
          <p class="font-bold">It's simple, fast and economical.</p>
        </div>
      </div>
      <div class="h-[535px] w-full md:w-1/2 relative rounded-[32px] bg-white">
        <img
          src="~/assets/images/about.svg"
          class="absolute w-full h-full"
          alt="img"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DAbout',
}
</script>
