<template>
  <div id="faq">
    <div>
      <router-link
        class="flex justify-center font-bold text-center text-[32px]"
        to="/"
        >FAQ</router-link
      >
    </div>
    <div class="flex flex-col space-y-[16px] mt-[40px] pointer">
      <div
        v-for="(item, i) in faxs"
        :key="i"
        class="flex justify-between bg-white rounded-[32px] px-[40px] py-[20px]"
        @click.prevent="openClick(item)"
      >
        <div>
          <h2 class="font-bold text-[18px]">
            {{ item.title }}
          </h2>
          <transition
            name="test"
            class="opacity-0 duration-75"
            @leave="leave"
            @enter="enter"
          >
            <p v-if="item.open" class="text-[18px]">
              {{ item.text }}
            </p>
          </transition>
        </div>

        <a href="#">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="40"
              height="40"
              rx="12"
              fill="#171717"
              fill-opacity="0.05"
            />
            <path
              d="M26.0423 19.3609C26.7418 18.8554 26.8732 17.9121 26.3357 17.2541C25.7982 16.5961 24.7954 16.4726 24.0959 16.9781L19.0294 20.6397C18.3298 21.1453 18.1985 22.0885 18.7359 22.7465C19.2734 23.4045 20.2762 23.5281 20.9758 23.0225L26.0423 19.3609Z"
              fill="#3A3A3C"
            />
            <path
              d="M15.9022 16.9829C15.202 16.4782 14.1993 16.603 13.6627 17.2616C13.1261 17.9202 13.2588 18.8633 13.959 19.368L19.0304 23.0236C19.7306 23.5283 20.7333 23.4036 21.2699 22.7449C21.8065 22.0863 21.6738 21.1432 20.9736 20.6385L15.9022 16.9829Z"
              fill="#3A3A3C"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DFaq',
  data() {
    return {
      openShow: false,
      faxs: [
        {
          title:
            'The set time has passed, but the invoice has not yet arrived, what should I do?',
          text: 'Payment options we currently have: PayPal, Bitcoin.',
          open: false,
        },
        {
          title:
            'Can I change my Netflix account email and password after purchase?',
          text:
            'Payment options we currently have: PayPal, Bitcoin. lorem dkfmd dlfadkf;a' +
            " afdka;fadddddddddddddddddd dfaaaaaaaaaaaa afdfffffffffff affffffffffffffff afdssssssssf afffff aaaaaaaaaa fdsd Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, " +
            'and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.',
          open: false,
        },
        {
          title: 'Can I add a phone number for password recovery?',
          text: 'Payment options we currently have: PayPal, Bitcoin.',
          open: false,
        },
        {
          title: 'How to pay?',
          text: 'Payment options we currently have: PayPal, Bitcoin.',
          open: false,
        },
      ],
    }
  },
  methods: {
    openClick(item) {
      item.open = !item.open
      console.log(item.open)
    },
    leave(element) {
      const height = getComputedStyle(element).height

      element.style.height = height
      getComputedStyle(element).height

      setTimeout(() => {
        element.style.height = 0
      })
    },
    toggle() {
      this.ok = !this.ok
    },
    enter(element) {
      const width = getComputedStyle(element).width

      element.style.width = width
      element.style.position = 'absolute'
      element.style.visibility = 'hidden'
      element.style.height = 'auto'

      const height = getComputedStyle(element).height

      element.style.width = null
      element.style.position = null
      element.style.visibility = null
      element.style.height = 0

      // Force repaint to make sure the
      // animation is triggered correctly.
      // getComputedStyle(element).height

      // Trigger the animation.
      // We use `setTimeout` because we need
      // to make sure the browser has finished
      // painting after setting the `height`
      // to `0` in the line above.
      setTimeout(() => {
        element.style.height = height
      })
    },
  },
}
</script>
<style scoped>
.pointer {
  cursor: pointer;
}
.test-enter-active,
.test-leave-active {
  transition: all 0.5s;
}
.test-enter, .test-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
  height: 0;
}

.test {
  border: 1px solid #000;
  overflow: hidden;
}
</style>
