<template>
  <div>
    <div class="relative hidden lg:flex bg-[#ffffff]">
      <div
        class="mx-auto flex items-center justify-between w-full px-[24px] lg:px-[50px] xl:px-[120px]"
      >
        <div class="flex items-center py-2">
          <MainIcon />
          <router-link
            to="/"
            class="hidden pl-2 font-mono text-[16px] text-[#171717] md:block"
          >
            DiscountsOnServices
          </router-link>
        </div>
        <div
          class="hidden space-x-6 xl:space-x-[46px] text-[16px] text-[#333333] lg:flex"
        >
          <button
            class="flex items-center relative"
            @click="clickSubscript = !clickSubscript"
          >
            <p>{{ subDefault ? subDefault : 'Netflix' }}</p>
            <svg
              class="mt-1"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.99987 6.58633L8.47487 4.11133L9.18187 4.81833L5.99987 8.00033L2.81787 4.81833L3.52487 4.11133L5.99987 6.58633Z"
                fill="#333333"
              />
            </svg>
            <transition name="openLang">
              <div
                v-if="clickSubscript"
                class="absolute bg-white p-[23px] flex flex-col justify-center space-y-[20px] rounded-[16px] top-[50px] z-10 w-[114px] h-[169px]"
              >
                <p
                  v-for="(item, i) in subscript"
                  :key="i"
                  :class="{ 'text-blue-800': isActiveSub === i }"
                  class="font-bold"
                  @click="openSub(item, i)"
                >
                  {{ item.name }}
                </p>
              </div>
            </transition>
          </button>
          <a href=""></a>
          <router-link to="/#faq">{{ $t('header.faq') }}</router-link>
          <router-link href="#" to="/#support">{{
            $t('header.support')
          }}</router-link>
          <router-link href="#" to="/#about">{{
            $t('header.about')
          }}</router-link>
        </div>
        <div class="hidden space-x-6 xl:space-x-[42px] items-center lg:flex">
          <WhatsappIcon />
          <TelegramIcon />
          <DLang />
          <a
            href="#"
            class="hidden px-[41px] py-[9px] text-white bg-[#1749B3] rounded-xl baseline lg:block hover:bg-black hover:text-white transition duration-700 ease-in-out"
            >Log in</a
          >
        </div>
      </div>
    </div>

    <div class="relative flex lg:hidden">
      <div
        class="mx-auto fixed z-20 bg-[#ffffff] flex items-center justify-between w-full px-[24px] lg:px-[50px] xl:px-[120px]"
        :class="{ hidden: openClickMobile === false }"
      >
        <div class="flex items-center py-2">
          <MobileIcon />
          <p class="hidden pl-2 font-mono text-[16px] text-[#171717] md:block">
            DiscountsOnServices
          </p>
        </div>
        <a
          href="#"
          class="block hamburger lg:hidden focus:outline-none"
          @click="showMenu"
        >
          <svg
            v-if="openClickMobile === true"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"
              fill="#070033"
            />
          </svg>
          <svg
            v-else
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="14" cy="14" r="14" fill="#1749B3" />
            <path
              d="M13.9986 12.8217L18.1236 8.69666L19.302 9.87499L15.177 14L19.302 18.125L18.1236 19.3033L13.9986 15.1783L9.87365 19.3033L8.69531 18.125L12.8203 14L8.69531 9.87499L9.87365 8.69666L13.9986 12.8217Z"
              fill="white"
            />
          </svg>
        </a>
      </div>

      <div
        class="fixed lg:hidden top-0 left-[-100px] bg-[#ECF3FB] h-[100vh] transition duration-700 opacity-0 w-full"
        :class="[openClickMobile ? '' : 'showDiv']"
      >
        <div
          class="mx-auto fixed z-20 bg-[#ffffff] flex items-center justify-between w-full px-[24px] lg:px-[50px] xl:px-[120px]"
        >
          <div class="flex items-center py-2">
            <MobileIcon />
            <p
              class="hidden pl-2 font-mono text-[16px] text-[#171717] md:block"
            >
              DiscountsOnServices
            </p>
          </div>
          <a
            href="#"
            class="block hamburger lg:hidden focus:outline-none"
            @click="showMenu"
          >
            <svg
              v-if="openClickMobile === true"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"
                fill="#070033"
              />
            </svg>
            <svg
              v-else
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="14" cy="14" r="14" fill="#1749B3" />
              <path
                d="M13.9986 12.8217L18.1236 8.69666L19.302 9.87499L15.177 14L19.302 18.125L18.1236 19.3033L13.9986 15.1783L9.87365 19.3033L8.69531 18.125L12.8203 14L8.69531 9.87499L9.87365 8.69666L13.9986 12.8217Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
        <div class="mx-[24px] bg-white rounded-[12px] mt-[55px]">
          <div class="p-[8px]">
            <div v-for="(item, i) in mobilNav" :key="i">
              <button
                class="flex py-[8px] px-[22px] rounded-[8px] w-full"
                :class="{ 'bg-[#F7F7F7]': isActive === i }"
                @click="clickActive(item, i)"
              >
                <img :src="item.img" alt="" />
                <p class="ml-[20px]">{{ item.name }}</p>
              </button>
            </div>
          </div>
        </div>
        <div class="mx-[24px] bg-white rounded-[8px] mt-[8px]">
          <div class="p-[16px]">
            <div v-for="(item, i) in subscript" :key="i">
              <button
                class="flex py-[8px] px-[22px] rounded-[8px] w-full"
                :class="{ 'bg-[#F7F7F7]': isActiveChild === i }"
                @click="clickActiveChild(i)"
              >
                <p>{{ item.name }}</p>
              </button>
            </div>
          </div>
        </div>
        <div class="mx-[24px] mt-[20px] flex flex-col space-y-4">
          <button
            class="w-full rounded-[12px] border border-blue-800 text-center py-[10px] hover:bg-black hover:text-white transition duration-700 ease-in-out"
          >
            Login
          </button>
          <button
            class="w-full rounded-[12px] bg-blue-800 text-white text-center py-[10px] hover:bg-black hover:text-white transition duration-700 ease-in-out"
          >
            Sign up
          </button>
        </div>
        <div class="mx-[24px] mt-[30px] flex justify-between">
          <div class="flex">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.6721 29.333L4.47477 22.709C3.28695 20.6729 2.66289 18.357 2.66677 15.9997C2.66677 8.63572 8.6361 2.66638 16.0001 2.66638C23.3641 2.66638 29.3334 8.63572 29.3334 15.9997C29.3334 23.3637 23.3641 29.333 16.0001 29.333C13.6438 29.3368 11.329 28.7133 9.29343 27.5264L2.6721 29.333ZM11.1881 9.74371C11.0159 9.75441 10.8477 9.79976 10.6934 9.87705C10.5488 9.95895 10.4168 10.0613 10.3014 10.181C10.1414 10.3317 10.0508 10.4624 9.95343 10.589C9.46065 11.2304 9.19558 12.0176 9.2001 12.8264C9.20277 13.4797 9.37343 14.1157 9.6401 14.7104C10.1854 15.913 11.0828 17.1864 12.2681 18.3664C12.5534 18.6504 12.8321 18.9357 13.1321 19.201C14.6033 20.4963 16.3564 21.4304 18.2521 21.929L19.0108 22.045C19.2574 22.0584 19.5041 22.0397 19.7521 22.0277C20.1404 22.0077 20.5196 21.9025 20.8628 21.7197C21.0841 21.6024 21.1881 21.5437 21.3734 21.4264C21.3734 21.4264 21.4308 21.389 21.5401 21.3064C21.7201 21.173 21.8308 21.0784 21.9801 20.9224C22.0908 20.8077 22.1868 20.673 22.2601 20.5197C22.3641 20.3024 22.4681 19.8877 22.5108 19.5424C22.5428 19.2784 22.5334 19.1344 22.5294 19.045C22.5241 18.9024 22.4054 18.7544 22.2761 18.6917L21.5001 18.3437C21.5001 18.3437 20.3401 17.8384 19.6321 17.5157C19.5574 17.4832 19.4775 17.4646 19.3961 17.461C19.3049 17.4517 19.2127 17.4619 19.1258 17.4911C19.0388 17.5204 18.9592 17.5678 18.8921 17.6304V17.6277C18.8854 17.6277 18.7961 17.7037 17.8321 18.8717C17.7768 18.9461 17.7006 19.0023 17.6132 19.0331C17.5258 19.064 17.4312 19.0681 17.3414 19.045C17.2546 19.0218 17.1694 18.9924 17.0868 18.957C16.9214 18.8877 16.8641 18.861 16.7508 18.8117L16.7441 18.809C15.9813 18.476 15.2751 18.0262 14.6508 17.4757C14.4828 17.329 14.3268 17.169 14.1668 17.0144C13.6422 16.512 13.1851 15.9437 12.8068 15.3237L12.7281 15.197C12.6716 15.1119 12.6259 15.0201 12.5921 14.9237C12.5414 14.7277 12.6734 14.5704 12.6734 14.5704C12.6734 14.5704 12.9974 14.2157 13.1481 14.0237C13.2736 13.8641 13.3906 13.6981 13.4988 13.5264C13.6561 13.273 13.7054 13.013 13.6228 12.8117C13.2494 11.8997 12.8628 10.9917 12.4654 10.0904C12.3868 9.91171 12.1534 9.78371 11.9414 9.75838C11.8694 9.75038 11.7974 9.74238 11.7254 9.73705C11.5464 9.72815 11.3669 9.72993 11.1881 9.74238V9.74371Z"
                fill="#333333"
              />
            </svg>
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.0001 29.333C8.63608 29.333 2.66675 23.3637 2.66675 15.9997C2.66675 8.63572 8.63608 2.66638 16.0001 2.66638C23.3641 2.66638 29.3334 8.63572 29.3334 15.9997C29.3334 23.3637 23.3641 29.333 16.0001 29.333ZM11.8534 17.5597L11.8707 17.5504L13.0307 21.377C13.1801 21.7917 13.3854 21.8664 13.6347 21.8317C13.8854 21.7984 14.0174 21.6637 14.1814 21.5064L15.7654 19.9757L19.1654 22.493C19.7867 22.8357 20.2334 22.6584 20.3881 21.917L22.5974 11.4877C22.8414 10.517 22.4147 10.1277 21.6614 10.437L8.68408 15.4504C7.79875 15.805 7.80408 16.301 8.52408 16.521L11.8534 17.561V17.5597Z"
                fill="#333333"
              />
            </svg>
          </div>
          <div class="mr-[80px]">
            <DLang />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WhatsappIcon from '~/components/icons/WhatsappIcon'
import MainIcon from '~/components/icons/MainIcon'
import TelegramIcon from '~/components/icons/TelegramIcon'
import MobileIcon from '~/components/icons/MobileIcon'
import DLang from '~/components/layout/DLang'
export default {
  name: 'DHeader',
  components: { MobileIcon, TelegramIcon, MainIcon, WhatsappIcon, DLang },
  data() {
    return {
      isActive: false,
      isActiveChild: false,
      isActiveLang: false,
      isActiveSub: false,
      options: [
        {
          value: 'en',
          label: 'English',
        },
        {
          value: 'ru',
          label: 'Русский',
        },
        {
          value: 'uz',
          label: 'O‘zbekcha',
        },
      ],
      value: '',
      mobilNav: [
        { name: 'Home', img: require('~/assets/images/mhome.svg') },
        { name: 'About', img: require('~/assets/images/mabout.svg') },
        { name: 'FAQ', img: require('~/assets/images/mfaq.svg') },
        { name: 'Support', img: require('~/assets/images/msupport.svg') },
      ],
      langDefault: '',
      subDefault: '',
      subscript: [
        { name: 'Netflix' },
        { name: 'YouTube Premium' },
        { name: 'Spotify' },
      ],

      openClickMobile: true,
      clickSubscript: false,
      clickLang: false,
    }
  },
  computed: {
    activeLanguage() {
      if (this.$i18n.locale === 'uz') {
        return "O'z"
      } else if (this.$i18n.locale === 'ru') {
        return 'Ru'
      } else {
        return 'En'
      }
    },
  },
  watch: {
    openClickMobile() {
      const removeScrol = document.querySelector('.scroll-hidden')
      if (this.openClickMobile === false) {
        removeScrol.style.overflow = 'hidden'
      } else {
        removeScrol.style.overflow = 'auto'
      }
    },
  },
  methods: {
    clickActive(item, i) {
      this.isActive = i
    },
    openSub(item, i) {
      this.subDefault = item.name
      this.isActiveSub = i
    },
    clickActiveChild(i) {
      this.isActiveChild = i
    },

    clickActivelanguage(item) {
      this.$i18n.setLocale(item.value)
      this.clickLang = false
    },
    showMenu() {
      this.openClickMobile = !this.openClickMobile
      console.log('hhh', this.openClickMobile)
    },
  },
}
</script>
<style>
.test11 {
  overflow: hidden;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.9s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.showDiv {
  opacity: 1 !important;
  z-index: 1;
  transform: translateX(100px);
}

.openLang-enter-active {
  animation: open 0.3s ease-out;
}

.openLang-leave-active {
  animation: open 0.3s ease-in reverse;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>
