<template>
  <div
    id="home"
    class="relative w-full bg-[#ECF3FB] w-full px-[24px] lg:px-[50px] xl:px-[120px] pt-[120px] lg:pt-[52px]"
  >
    <div>
      <div
        class="flex flex-col-reverse items-center md:flex-row space-x-0 gap-4"
      >
        <!--      left item-->
        <div
          class="flex flex-col bg-blue-800 rounded-[32px] p-[20px] justify-center space-y-12 sm:h-[291px] h-[344px] md:h-[500px] md:p-[60px] md:w-1/2"
        >
          <h1
            class="text-[28px] font-bold text-white text-center md:text-[36px] md:text-left"
          >
            {{ $t('main.h1') }}
          </h1>
          <p class="max-w-sm text-center text-white text-[16px] md:text-left">
            {{ $t('main.p') }}
          </p>
          <div class="flex justify-center md:justify-start">
            <button
              class="px-[56px] py-[16px] text-black bg-white rounded-xl baseline hover:bg-black hover:text-white transition duration-700 ease-in-out"
            >
              {{ $t('main.button') }}
            </button>
          </div>
        </div>
        <!--      right item-->

        <div
          class="flex flex-col rounded-[32px] bg-white relative h-[276px] w-full md:w-1/2 md:h-[500px]"
        >
          <img
            src="~/assets/images/ractangle.svg"
            class="absolute w-full h-full"
            alt=""
          />
        </div>
      </div>
      <div class="pt-[120px]">
        <div>
          <h1 class="text-center text-[32px] font-bold">
            Choose a subscription
          </h1>
        </div>
        <div class="flex flex-col pt-[37px] gap-y-4">
          <div
            v-for="item in 3"
            :key="item"
            class="flex flex-col-reverse rounded-[32px] bg-white items-center md:flex-row"
          >
            <div
              class="flex flex-col px-[20px] py-[20px] md:px-[60px] space-y-[22px] md:w-1/2"
            >
              <h2>Netflix subscription rates</h2>
              <p>
                The constant contributes to the task of the same and thus the
                intended features and the set relation to the check and set
                also.
              </p>
              <div class="flex justify-center md:justify-start">
                <button
                  class="px-[100px] py-[14.5px] w-full text-center bg-blue-800 rounded-xl hover:bg-blue-400 text-white transition duration-700 ease-in-out md:px-[24px] md:py-[16px] md:w-auto"
                >
                  Learn more
                </button>
              </div>
            </div>
            <div
              class="flex justify-center h-full items-centert md:w-1/2 py-[34px] md:py-[23px] w-full rounded-[32px] bg-black"
            >
              <img
                src="~/assets/images/netflix.svg"
                class="w-[215.78px] md:w-[388px]"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="pt-[128px]">
        <div
          class="flex md:flex-row flex-col gap-y-4 md:gap-y-0 gap-x-4 md:gap-x-4 justify-between"
        >
          <div
            v-for="(item, i) in 3"
            :key="i"
            class="flex flex-row rounded-[32px] bg-white"
          >
            <div class="flex flex-col justify-end p-[40px] space-y-[26px]">
              <h2 class="text-[22px] font-bold">Step 1</h2>
              <p class="text-[18px]">Enter your account information</p>
            </div>
            <div class="p-[7px]">
              <img
                src="~/assets/images/step_1.svg"
                class="w-[173px] h-auto"
                alt=""
              />
            </div>
          </div>
        </div>
        <div
          class="flex flex-col bg-[#1749B3] justify-around mt-[16px] items-center rounded-[32px] h-[344px] px-[20px] md:h-[210px] md:px-[32px] md:flex-row"
        >
          <div class="flex flex-col justify-center md:w-1/2">
            <h2 class="text-[22px] md:text-[26px] text-white font-bold">
              Invite friends
            </h2>
            <p class="text-[16px] text-white">
              Starting today up to 50% for NETFLIX, YOUTUBE, SPOTIFY
              subscriptions with a secure payment from PAYPAL
            </p>
          </div>
          <div
            class="flex flex-col specific w-full md:w-1/2 bg-[#F1F4F8] items-center justify-center rounded-[16px] h-[114px] md:h-[104px]"
          >
            <p>Click on the link</p>
            <input id="testing-code" type="hidden" :value="testingCode" />
            <button class="flex" @click="addScreen">
              Discounts On Services
              <svg
                class="ml-2"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7 6V3C7 2.73478 7.10536 2.48043 7.29289 2.29289C7.48043 2.10536 7.73478 2 8 2H20C20.2652 2 20.5196 2.10536 20.7071 2.29289C20.8946 2.48043 21 2.73478 21 3V17C21 17.2652 20.8946 17.5196 20.7071 17.7071C20.5196 17.8946 20.2652 18 20 18H17V21C17 21.552 16.55 22 15.993 22H4.007C3.87513 22.0008 3.7444 21.9755 3.62232 21.9256C3.50025 21.8757 3.38923 21.8022 3.29566 21.7093C3.20208 21.6164 3.12779 21.5059 3.07705 21.3841C3.02632 21.2624 3.00013 21.1319 3 21L3.003 7C3.003 6.448 3.453 6 4.01 6H7ZM5.003 8L5 20H15V8H5.003ZM9 6H17V16H19V4H9V6Z"
                  fill="#171717"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <DAbout />
    <DFaq />
    <DSupport />
  </div>
</template>

<script>
import DAbout from '~/components/layout/DAbout'
import DFaq from '~/components/layout/DFaq'
import DSupport from '~/components/layout/DSupport'
// import DHeader from '~/DHeader.vue'
export default {
  name: 'DHome',
  components: { DSupport, DFaq, DAbout },
  data() {
    return {
      testingCode: 'bu data saqlayabdi',
    }
  },
  methods: {
    addScreen() {
      const testingCodeToCopy = document.querySelector('#testing-code')
      testingCodeToCopy.setAttribute('type', 'text') // 不是 hidden 才能複製
      testingCodeToCopy.select()

      try {
        const successful = document.execCommand('copy')
        const msg = successful ? 'successful' : 'unsuccessful'
        alert('Testing code was copied ' + msg)
      } catch (err) {
        alert('Oops, unable to copy')
      }

      /* unselect the range */
      testingCodeToCopy.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()
    },
  },
}
</script>
