<template>
  <div>
    <a
      href="#"
      class="flex items-center relative"
      @click.stop.prevent="clickLang = !clickLang"
    >
      <div class="font-bold text[#333333]">
        {{ $t(activeLanguage) }}
      </div>
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.99987 6.58633L8.47487 4.11133L9.18187 4.81833L5.99987 8.00033L2.81787 4.81833L3.52487 4.11133L5.99987 6.58633Z"
          fill="#171717"
        />
      </svg>
      <transition name="openLang">
        <div
          v-if="clickLang"
          class="absolute bg-white p-[15px] flex flex-col justify-center space-y-[10px] rounded-[16px] top-[50px] z-10 w-[114px] h-[140px]"
        >
          <p
            v-for="(item, i) in options"
            :key="i"
            :class="item.value === $i18n.locale ? 'text-blue-800' : ''"
            class="font-bold"
            @click="clickActivelanguage(item)"
          >
            {{ item.label }}
          </p>
        </div>
      </transition>
    </a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      clickLang: false,
      options: [
        {
          value: 'en',
          label: 'English',
        },
        {
          value: 'ru',
          label: 'Русский',
        },
        {
          value: 'uz',
          label: 'O‘zbekcha',
        },
      ],
      value: '',
    }
  },
  computed: {
    activeLanguage() {
      if (this.$i18n.locale === 'uz') {
        return "O'z"
      } else if (this.$i18n.locale === 'ru') {
        return 'Ru'
      } else {
        return 'En'
      }
    },
  },
  methods: {
    clickActivelanguage(item) {
      this.$i18n.setLocale(item.value)
      this.clickLang = false
    },
  },
}
</script>
