<template>
  <div class="pt-[40px] pb-[120px]" id="support">
    <div class="flex flex-col">
      <div class="flex justify-center">
        <router-link
          to="/"
          class="relative bg-gray-900 text-white text-center text-xs outline-none uppercase tracking-widest px-[86px] py-[16px] bg leading-4 transition-all duration-500 ease-in-out rounded-[16px] hover:bg-blue-400 cursor-pointer"
          :class="{ 'pr-8 pl-4': this.buttonClicked }"
          @click="buttonClick()"
        >
          {{ buttonText }}
          <span
            class="loader animation-spin h-3 w-3 bg-transparent absolute opacity-0 box-border transition-all duration-500 ease-in-out mx-auto rounded-full"
            :class="{ 'opacity-100': this.buttonClicked }"
          >
          </span>
        </router-link>
      </div>
      <div
        class="flex flex-col p-[32px] mt-[120px] bg-[#1749B3] justify-around rounded-[32px] md:p-[60px] md:h-[159px] space-y-4 md:space-y-4 md:flex-row"
      >
        <div class="flex flex-col justify-center space-y-0 md:space-y-[21px]">
          <h2 class="text-[22px] text-white font-bold">
            Request for an additional subscription that was not found here
          </h2>
          <p class="text-[16px] text-white">
            Disney, Amazon Prime, Microsoft Office, Microsoft Windows
          </p>
        </div>
        <div class="flex items-center">
          <button
            class="bg-white text-black px-[84px] py-[13px] rounded-[16px] md:px-[112px] md:py-[16px]"
          >
            Request
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DSupport',
  data() {
    return {
      originalbuttonText: 'Support',
      buttonClicked: false,
    }
  },
  created() {
    this.setButtonText()
  },
  methods: {
    buttonClick() {
      // this.buttonClicked = !this.buttonClicked;
      this.buttonClicked = true
      this.buttonText = 'Sending...'
      setTimeout(() => {
        this.buttonClicked = false
        this.buttonText = 'Support'
      }, 1000)
    },
    setButtonText() {
      this.buttonText = this.originalbuttonText
    },
    resetButtonText() {
      this.setButtonText()
    },
  },
}
</script>
<style>
.is-hidden {
  display: none;
}
.loader {
  right: 0.875rem;
  top: 50%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid white;
}

.animation-spin {
  animation-name: spin;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
</style>
