Shohzodjon, [13.07.2022 10:10]
<template>
  <section
    :class="[
      this.$route.name === 'main'
        ? 'fixed bg-[#fff] w-full top-0 left-0 right-0 z-20 hidden lg:block navbar-bg'
        : 'fixed bg-[#fff] w-full top-0 left-0 right-0 z-20 hidden lg:block',
    ]"
  >
    <nav class="max-w-[1260px] mx-auto py-6 px-5 flex justify-between">
      <div class="flex-center gap-10 justify-between w-full lg:w-auto">
        <RouterLink to="/" @click="closeDropDown">
          <LogoIcon color="#184053" />
        </RouterLink>

        <div
          class="text-2xl text-main--color mr-[2rem] block cursor-pointer lg:hidden"
          @click="showNavbar"
        >
          <i :class="[showNav ? 'bi bi-x-lg' : 'bi bi-list']"></i>
        </div>

        <ul class="flex-center gap-8 hidden lg:flex">
          <li>
            <RouterLink
              to="/"
              class="main--link text-main--color hover:text-link--hover"
              @click="closeDropDown"
              >{{ $t('project') }}</RouterLink
            >
          </li>
          <li>
            <RouterLink
              to="/role"
              class="main--link text-main--color hover:text-link--hover"
              >{{ $t('uses') }}</RouterLink
            >
          </li>
          <li>
            <RouterLink
              to="/faq"
              class="main--link text-main--color hover:text-link--hover"
              @click="closeDropDown"
            >
              F.A.Q.
            </RouterLink>
          </li>
        </ul>
      </div>

      <ul class="flex-center gap-6 hidden lg:flex">
        <li>
          <a
            href="tel:+998 (71) 200-70-07"
            class="main--link flex items-center text-main--color gap-1 hover:text-link--hover nav-link"
            @click="closeDropDown"
          >
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 4H9L11 9L8.5 10.5C9.57096 12.6715 11.3285 14.429 13.5 15.5L15 13L20 15V19C20 19.5304 19.7893 20.0391 19.4142 20.4142C19.0391 20.7893 18.5304 21 18 21C14.0993 20.763 10.4202 19.1065 7.65683 16.3432C4.8935 13.5798 3.23705 9.90074 3 6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4"
                stroke="#184053"
                stroke-width="1.6"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span>+998 (71) 200-70-07</span>
          </a>
        </li>
        <li>
          <div class="bg-[#dae0e3] h-7 w-[2px]"></div>
        </li>

        <li class="relative">
          <div
            class="h-10 rounded-xl py-1 px-2 bg-[#fff] flex items-center justify-between gap-3 w-[160px] transition duration-300 ease-linear cursor-pointer hover:bg-[#F6F9FE]"
            @click="show = !show"
          >
            <WorldIcon class="block" />
            <p v-if="$i18n.locale === 'uz'">O'zbek</p>
            <p v-if="$i18n.locale === 'en'">English</p>
            <p v-if="$i18n.locale === 'ru'">Русский</p>

            <button>
              <div v-if="show"><UpIcon /></div>
              <div v-else>
                <DownIcon />
              </div>
            </button>
          </div>

          Shohzodjon, [13.07.2022 10:10]
          <ul :class="[show ? 'dropdown uplist' : 'dropdown']">
            <li class="lang-list" @click="langUz">
              <button>O'zbek</button>
            </li>
            <li class="lang-list" @click="langEn">
              <button>English</button>
            </li>
            <li class="lang-list" @click="langRu">
              <button>Русский</button>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <ResponseNav />
</template>
<script>
import { RouterLink } from 'vue-router'
import { useI18n } from 'vue-i18n'
import LogoIcon from './icon/LogoIcon.vue'
import PhoneIcon from './icon/PhoneIcon.vue'
import WorldIcon from './icon/WorldIcon.vue'
import UpIcon from './icon/UpIcon.vue'
import CheckIcon from './icon/CheckIcon.vue'
import DownIcon from './icon/DownIcon.vue'
import ResponseNav from './ResponseNav.vue'

export default {
  components: {
    LogoIcon,
    PhoneIcon,
    WorldIcon,
    UpIcon,
    CheckIcon,
    DownIcon,
    ResponseNav,
  },
  data() {
    return {
      show: false,
      showCheck: false,
      showNav: false,
    }
  },

  methods: {
    langUz() {
      this.$i18n.locale = 'uz'
      this.show = false
    },
    langEn() {
      this.$i18n.locale = 'en'
      this.show = false
    },
    langRu() {
      this.$i18n.locale = 'ru'
      this.show = false
    },
    closeDropDown() {
      this.show = false
    },
    showNavbar() {
      this.showNav = !this.showNav
      this.show = !this.show
    },
  },
}
</script>
<style scoped>
.lang-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #111827;
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-linear;
  cursor: pointer;
}

.lang-list:hover {
  background: #f6f9fe;
}

a:hover,
a.router-link-active {
  color: #21d5cf;
}
.nav-link svg path {
  transition: 0.3s linear all;
}
.nav-link:hover svg path {
  stroke: #21d5cf;
}
.dropdown {
  position: absolute;
  top: 39px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  height: 0;
  transition: height 0.2s linear;
  overflow: hidden;
}
.uplist {
  height: 130px;
}
.box {
  width: 300px;
  height: 200px;
}
.red {
  background: red;
}
.blue {
  background: blue;
}

.navbar-bg {
  background-image: linear-gradient(60deg, #fff, transparent, #c6eef3);
}
</style>
