<template>
  <div>
    <DHeader />
    <DHome />
    <DFooter />
  </div>
</template>
<script>
import DHeader from '~/components/layout/DHeader'
import DHome from '~/components/layout/DHome'
import DFooter from '~/components/layout/DFooter'
export default {
  components: { DFooter, DHome, DHeader },
}
</script>
